@model TbPropertyModel
@{
    ViewBag.sidebar = "淘宝属性";
    ViewBag.Title = "淘宝属性";

    TbPropertyCategoryModel tbPropertyCategory = null;
    if(ViewBag.TbPropertyCategory != null)
    {
        tbPropertyCategory = ViewBag.TbPropertyCategory as TbPropertyCategoryModel;
    }
}

<div class="content-header clearfix">
    <h1 class="page-header">淘宝属性管理 @if (tbPropertyCategory != null) { <span> - </span> @tbPropertyCategory.Name }</h1>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">

            <div class="panel panel-default">
                <div id="grid"></div>
                <script>

                    $(document).ready(function () {
                        var ReadUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("List", "TbProperty"))" + "?TbPropertyCategoryId=" + "@Model.TbPropertyCategoryId";
                        var UpdateUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Update", "TbProperty"))";
                        var CreateUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Create", "TbProperty"))";
                        var DestroyUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Delete", "TbProperty"))",

                        dataSource = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: ReadUrl,
                                    dataType: "jsonp"
                                },
                                update: {
                                    url: UpdateUrl,

                                    dataType: "jsonp"
                                },
                                destroy: {
                                    url: DestroyUrl,
                                    type: "post",
                                    dataType: "jsonp"
                                },
                                create: {
                                    url: CreateUrl,
                                    type: "post",
                                    dataType: "jsonp"
                                },
                                parameterMap: function (options, operation) {
                                    if (operation == "create" && options.models) {
                                        var modelsTmp = options.models;
                                        //存入指定属性的值，通过工具栏的新增按钮，都是创建一个，所以取下标为0的就行了
                                        modelsTmp[0].TbPropertyCategoryId = "@Model.TbPropertyCategoryId";
                                        return { models: kendo.stringify(options.models) };
                                    }

                                    if (operation !== "read" && options.models) {
                                        return { models: kendo.stringify(options.models) };
                                    }
                                }
                            },
                            batch: true,
                            pageSize: 20,
                            schema: {
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, nullable: true },
                                        Name: { validation: { required: true } },
                                        ValueKey: { validation: { required: true } },
                                        TbPropertyCategoryId: { validation: { required: true } }
                                    }
                                }
                            }
                        });
                        dataSource.bind("error", dataSource_error);

                        function dataSource_error(e) {
                            var responsejson = e.xhr.responseText;
                            alert(e.status);
                        }

                        $("#grid").kendoGrid({
                            dataSource: dataSource,
                            sortable: true,
                            pageable: {
                                refresh: true,
                                pageSizes: true,
                                buttonCount: 5
                            },
                            @if(Model.TbPropertyCategoryId != null)
                            {
                                <Text>
                                toolbar: ["create"],
                                </Text>
                            }
                            columns: [
                                { field: "Name", title: "属性名称" },
                                { field: "ValueKey", title: "属性值" },
                                {
                                    command: ["edit"
                                        @if(Model.TbPropertyCategoryId != null)
                                        {
                                            <Text>
                                            , "destroy"
                                            </Text>
                                        }
                                    ], title: "&nbsp;", width: "200px"
                                }],
                            editable: "popup"
                        });
                    });

                </script>
            </div>
        </div>
    </div>
</div>