@model UserModifyPasswordModel
@{
    ViewBag.Title = "修改密码";
    ViewBag.HeaderTitle = "修改密码";
    ViewBag.ActiveMenuItemSystemName = "ModifyPassword";
}

@section Head{
    <style type=text/css>

    </style>
}

@section HeadRight{
    
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">修改密码</h3>
    </div>
    <div class="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        @Html.ValidationSummary(true, "请求参数不正确", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordOld, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.PasswordOld, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PasswordOld, "", new { @class = "text-danger" })
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordNew, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.PasswordNew, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PasswordNew, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RepPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.RepPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RepPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <input type="submit" value="确认" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
