@model IEnumerable<yanzhilong.Models.NoteModel>
@{
    ViewBag.Title = "笔记中心";
    ViewBag.NavActive = 4;//设置导航激活
    PageModel pagemode = ViewBag.pagemodel as PageModel;
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            @foreach (var item in Model)
            {
                <div class="blog-post">
                    <h3 class="blog-post-title">@item.Title</h3>
                    <p class="blog-post-meta">@item.CreateAt</p>

                    @Html.ActionLink("查看全文", "Details", new { id = item.NoteID }, new { @class = "btn btn-primary", role = "button" })
                </div>
                <hr class="featurette-divider">
            }
            <div class="container">
                @Html.Partial("Paging", pagemode)
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/list")
    <script>


    </script>
}