@model yanzhilong.Models.User
@{
    ViewBag.Title = "登陆";
}

@using (Html.BeginForm("Login","Admin", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()

        <h2 class="form-signin-heading">欢迎您！</h2>
        @Html.ValidationSummary(true, "请输入合法的用户名或密码", new { @class = "text-danger" })

        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "用户名" } })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control", placeholder = "密码",type = "password" } })
        @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })

        <input type="submit" value="登陆" class="btn btn-lg btn-primary btn-block" />

}