@model IEnumerable<yanzhilong.Models.TutorialsModel>
@{
    ViewBag.sidebar = "教程管理";
    ViewBag.Title = "教程管理";
    PageModel pagemode = ViewBag.pagemodel as PageModel;
}
<h1 class="page-header">教程管理</h1>
@Html.ActionLink("创建新教程", "Create", "Tutorials")
<div class="table-responsive">
    <table class="table table-striped table-manage">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Disc)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CreateAt)
                </th>

                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Disc)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreateAt)
                    </td>

                    <td>
                        @Html.ActionLink("编辑", "Edit", "Tutorials", new { id = item.TutorialsID }, new { target = "_blank" }) |
                        @Html.ActionLink("详情", "Details", "Tutorials", new { id = item.TutorialsID, area = "" }, new { target = "_blank" }) |
                        @Html.ActionLink("删除", "Delete", "Tutorials", new { id = item.TutorialsID }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <!--  分页视图 -->
    @Html.Partial("Paging", pagemode)
</div>