@model ItemTitleModel

@{
    ViewBag.Title = "宝贝标题";
    ViewBag.HeaderTitle = "宝贝标题";
    ViewBag.ActiveMenuItemSystemName = "ItemTitle";
}
@section Head{
    <style type=text/css>
    </style>
}

@section HeadRight{
<button data-toggle="modal" id="details_btn" style="display:none" data-target="#myModal" class="btn bg-blue"></button>
}
<div class="panel panel-default">
    <div id="grid"></div>
    <script>

        $(document).ready(function () {
            var ReadUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("List", "ItemTitle"))";
            var UpdateUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Update", "ItemTitle"))";
            var CreateUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Create", "ItemTitle"))";
            var DestroyUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Delete", "ItemTitle"))",

            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: ReadUrl,
                        dataType: "jsonp"
                    },
                    update: {
                        url: UpdateUrl,

                        dataType: "jsonp"
                    },
                    destroy: {
                        url: DestroyUrl,
                        type: "post",
                        dataType: "jsonp"
                    },
                    create: {
                        url: CreateUrl,
                        type: "post",
                        dataType: "jsonp"
                    },
                    parameterMap: function (options, operation) {

                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: true },
                            Name: { validation: { required: true } }
                        }
                    }
                }
            });
            dataSource.bind("error", dataSource_error);

            function dataSource_error(e) {
                var responsejson = e.xhr.responseText;
                alert(e.status);
            }

            $("#grid").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                toolbar: ["create"],
                columns: [
                    { field: "Name", title: "名称" },
                    { field: "TitleItems", title: "标题关键词列表" },
                    { command: ["edit", "destroy", { name: "详情", click: details }], title: "&nbsp;", width: "400px" }],
                editable: "popup"
            });

            $("#affirm_make").click(function () {
                Id = $("#ItemId").text();
                var url = "@Url.Action("MakeTitle", "ItemTitle")" + "?Id=" + Id;
                
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        if (data != null && data.success) {
                            //$('#myModal').modal('hide');
                            $("#Result").val(data.responseText);
                        } else {
                            alert(data.responseText);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });
            })
        });

        //复制
        function details(e) {
            e.preventDefault();
            var tr = $(e.target).closest("tr"); // get the current table row (tr)
            var data = this.dataItem(tr);
            var Id = data.Id;
            //alert("Details for: " + data.Name);
            //window.location.href = "@Url.Action("Copy", "JdAuto")" + "?Id=" + Id;

            $("#ItemId").val(Id);
            $("#Name").val(data.Name);
            $("#TitleItems").val(data.TitleItems);

            $("#details_btn").click()

        }



    </script>
</div>

<!-- 导出csv -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">标题详情</h4>
            </div>
            <div class="modal-body">
                @*<p id="ItemId" style="display:none"></p>*@
                @*<p id="Name"></p>*@
                @*<p id="TitleItems"></p>*@

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "请求参数不正确", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id,htmlAttributes: new { @id = "ItemId" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control",id = "Name" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TitleItems, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TitleItems, new { htmlAttributes = new { @class = "form-control", id = "TitleItems" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="TitleItems">结果</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-required="必选项" id="Result" name="Result" type="text" value="">
                            </div>
                        </div>

                    </div>

                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="affirm_make">生成</button>
            </div>
        </div>
    </div>
</div>