@model TbPropertyCategoryModel
@{
    ViewBag.sidebar = "淘宝宝贝";
    ViewBag.Title = "淘宝宝贝";
}

<div class="content-header clearfix">
    <h1 class="page-header">淘宝宝贝管理</h1>

    <div class="pull-right">
        <span id="inspection_delect" class="btn" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-trash-o"></i>
            导出CSV
        </span>
    </div>

</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">

            <div class="panel panel-default">
                <div id="grid"></div>
                <script>

                    $(document).ready(function () {
                        var ReadUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("List", "TbItem"))";
                        var UpdateUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Update", "TbItem"))";
                        var CreateUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Create", "TbItem"))";
                        var DestroyUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Delete", "TbItem"))",

                        dataSource = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: ReadUrl,
                                    type: "POST",
                                    dataType: "jsonp"
                                },
                                update: {
                                    url: UpdateUrl,
                                    type: "POST",
                                    dataType: "jsonp"
                                },
                                destroy: {
                                    url: DestroyUrl,
                                    type: "post",
                                    dataType: "jsonp"
                                },
                                create: {
                                    url: CreateUrl,
                                    type: "post",
                                    dataType: "jsonp"
                                },
                                parameterMap: function (options, operation) {

                                    if (operation !== "read" && options.models) {
                                        return { models: kendo.stringify(options.models) };
                                    }
                                }
                            },
                            batch: true,
                            pageSize: 20,
                            schema: {
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, nullable: true },
                                        title: { editable: true, type: "string" },
                                        cid: { editable: true, type: "string" },
                                        seller_cids: { editable: true, type: "string" },
                                        stuff_status: { editable: true, type: "string" },
                                        location_state: { editable: true, type: "string" },
                                        location_city: { editable: true, type: "string" },
                                        item_type: { editable: true, type: "string" },
                                        price: { editable: true, type: "string" },
                                        auction_increment: { editable: true, type: "string" },
                                        num: { editable: true, type: "string" },
                                        valid_thru: { editable: true, type: "string" },
                                        freight_payer: { editable: true, type: "string" },
                                        post_fee: { editable: true, type: "string" },
                                        ems_fee: { editable: true, type: "string" },
                                        express_fee: { editable: true, type: "string" },
                                        has_invoice: { editable: true, type: "string" },
                                        has_warranty: { editable: true, type: "string" },
                                        approve_status: { editable: true, type: "string" },
                                        has_showcase: { editable: true, type: "string" },
                                        list_time: { editable: true, type: "string" },
                                        description: { editable: true, type: "string" },
                                        cateProps: { editable: true, type: "string" },
                                        postage_id: { editable: true, type: "string" },
                                        has_discount: { editable: true, type: "string" },
                                        modified: { editable: true, type: "string" },
                                        upload_fail_msg: { editable: true, type: "string" },
                                        picture_status: { editable: true, type: "string" },
                                        auction_point: { editable: true, type: "string" },
                                        picture: { editable: true, type: "string" },
                                        video: { editable: true, type: "string" },
                                        skuProps: { editable: true, type: "string" },
                                        inputPids: { editable: true, type: "string" },
                                        inputValues: { editable: true, type: "string" },
                                        outer_id: { editable: true, type: "string" },
                                        propAlias: { editable: true, type: "string" },
                                        auto_fill: { editable: true, type: "string" },
                                        num_id: { editable: true, type: "string" },
                                        local_cid: { editable: true, type: "string" },
                                        navigation_type: { editable: true, type: "string" },
                                        user_name: { editable: true, type: "string" },
                                        syncStatus: { editable: true, type: "string" },
                                        is_lighting_consigment: { editable: true, type: "string" },
                                        is_xinpin: { editable: true, type: "string" },
                                        foodparame: { editable: true, type: "string" },
                                        features: { editable: true, type: "string" },
                                        buyareatype: { editable: true, type: "string" },
                                        global_stock_type: { editable: true, type: "string" },
                                        global_stock_country: { editable: true, type: "string" },
                                        sub_stock_type: { editable: true, type: "string" },
                                        item_size: { editable: true, type: "string" },
                                        item_weight: { editable: true, type: "string" },
                                        sell_promise: { editable: true, type: "string" },
                                        custom_design_flag: { editable: true, type: "string" },
                                        wireless_desc: { editable: true, type: "string" },
                                        barcode: { editable: true, type: "string" },
                                        sku_barcode: { editable: true, type: "string" },
                                        newprepay: { editable: true, type: "string" },
                                        subtitle: { editable: true, type: "string" },
                                        cpv_memo: { editable: true, type: "string" },
                                        input_custom_cpv: { editable: true, type: "string" },
                                        qualification: { editable: true, type: "string" },
                                        add_qualification: { editable: true, type: "string" },
                                        o2o_bind_service: { editable: true, type: "string" },
                                        datatype: { editable: true, type: "int" }
                                    }
                                }
                            }
                        });
                        dataSource.bind("error", dataSource_error);

                        function dataSource_error(e) {
                            var responsejson = e.xhr.responseText;
                            alert(e.status);
                        }

                        $("#grid").kendoGrid({
                            dataSource: dataSource,
                            sortable: true,
                            pageable: {
                                refresh: true,
                                pageSizes: true,
                                buttonCount: 5
                            },
                            toolbar: ["create"],
                            columns: [
                                { field: "title", title: "宝贝名称" },
                                { field: "cid", title: "宝贝类目" },
                                { field: "seller_cids", title: "店铺类目" },
                                { field: "stuff_status", title: "新旧程度" },
                                { field: "location_state", title: "省" },
                                { field: "location_city", title: "城市" },
                                { field: "item_type", title: "出售方式" },
                                { field: "price", title: "宝贝价格" },
                                { field: "auction_increment", title: "加价幅度" },
                                { field: "num", title: "宝贝数量" },
                                { field: "valid_thru", title: "有效期" },
                                { field: "freight_payer", title: "运费承担" },
                                { field: "post_fee", title: "平邮" },
                                { field: "ems_fee", title: "EMS" },
                                { field: "express_fee", title: "快递" },
                                { field: "has_invoice", title: "发票" },
                                { field: "has_warranty", title: "保修" },
                                { field: "approve_status", title: "放入仓库" },
                                { field: "has_showcase", title: "橱窗推荐" },
                                { field: "list_time", title: "开始时间" },
                                { field: "description", title: "宝贝描述" },
                                { field: "cateProps", title: "宝贝属性" },
                                { field: "postage_id", title: "邮费模版ID" },
                                { field: "has_discount", title: "会员打折" },
                                { field: "modified", title: "修改时间" },
                                { field: "upload_fail_msg", title: "上传状态" },
                                { field: "picture_status", title: "图片状态" },
                                { field: "auction_point", title: "返点比例" },
                                { field: "picture", title: "新图片" },
                                { field: "video", title: "视频" },
                                { field: "skuProps", title: "销售属性组合" },
                                { field: "inputPids", title: "用户输入ID串" },
                                { field: "inputValues", title: "用户输入名 - 值对" },
                                { field: "outer_id", title: "商家编码" },
                                { field: "propAlias", title: "销售属性别名" },
                                { field: "auto_fill", title: "代充类型" },
                                { field: "num_id", title: "数字ID" },
                                { field: "local_cid", title: "本地ID" },
                                { field: "navigation_type", title: "宝贝分类" },
                                { field: "user_name", title: "用户名称" },
                                { field: "syncStatus", title: "宝贝状态" },
                                { field: "is_lighting_consigment", title: "闪电发货" },
                                { field: "is_xinpin", title: "新品" },
                                { field: "foodparame", title: "食品专项" },
                                { field: "features", title: "尺码库" },
                                { field: "buyareatype", title: "采购地" },
                                { field: "global_stock_type", title: "库存类型" },
                                { field: "global_stock_country", title: "国家地区" },
                                { field: "sub_stock_type", title: "库存计数" },
                                { field: "item_size", title: "物流体积" },
                                { field: "item_weight", title: "物流重量" },
                                { field: "sell_promise", title: "退换货承诺" },
                                { field: "custom_design_flag", title: "定制工具" },
                                { field: "wireless_desc", title: "无线详情" },
                                { field: "barcode", title: "商品条形码" },
                                { field: "sku_barcode", title: "sku 条形码" },
                                { field: "newprepay", title: "7天退货" },
                                { field: "subtitle", title: "宝贝卖点" },
                                { field: "cpv_memo", title: "属性值备注" },
                                { field: "input_custom_cpv", title: "自定义属性值" },
                                { field: "qualification", title: "商品资质" },
                                { field: "add_qualification", title: "增加商品资质" },
                                { field: "o2o_bind_service", title: "关联线下服务" },
                                { field: "datatype", title: "数据类型" },
                                { command: ["edit", "destroy"], title: "&nbsp;", width: "80px" } //显示编辑及删除按钮
                            ],
                            editable: "popup"
                        });


                        $("#affirm_delete").click(function () {
                            //确定删除
                            var url = "@Url.Action("ExportCsv", "TbItem")";
                            $.ajax({
                                type: 'POST',
                                url: url,
                                data: "",
                                success: function (data) {
                                    if (data != null && data.success) {
                                        $('#myModal').modal('hide');
                                        alert("导出成功");
                                    } else {
                                        alert(data.responseText);
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(thrownError);
                                }
                            });
                        })


                    });
                </script>
            </div>
        </div>
    </div>
</div>

<!-- 删除检查单 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">导出CSV</h4>
            </div>
            <div class="modal-body">
                <p>将当前宝贝列表导出到CSV文件</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="affirm_delete">确定</button>
            </div>
        </div>
    </div>
</div>