@model yanzhilong.Models.ArticleModel
@using System.Web.Script.Serialization;
@{
    Layout = "../Shared/_Layout_Empty.cshtml";
    ViewBag.Title = "文章编辑";
}

@section head{

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit</h4>
        <hr />
        @Html.ValidationSummary(true, "请求参数不正确", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.CreateAt)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{ 
                    var jsonstring = new JavaScriptSerializer().Serialize(new { Id = Model.Id });
                }
                @Html.ActionLink("编辑", "Content", "Article", new { Id = Model.Id},new { @class = "btn btn-primary" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = 8 } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.CategoryID, Model.CategorySelectItems,new {@class= "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section scripts{
    <!-- 内部javascript -->
    <script>

	    $(document).ready(function() {

		    var placeholder = $("#summernote").attr("placeholder") || '';//设置输入提示
		    var url = $("#summernote").attr("action") || '';//设置上传图片的url
		    $("#summernote").summernote({
			    lang: 'zh-CN',
			    placeholder: placeholder,
			    minHeight: 300,
                maxHeight: 800,
			    dialogsFade: true,// 设置滑动效果Add fade effect on dialogs
			    dialogsInBody: true,// 设置窗口显示位置Dialogs can be placed in body, not in
			    disableDragAndDrop: false,//设置拖拽
			    callbacks: {
				    onImageUpload: function (files) {
				        $(files).each(function () {
				            var file = this;
				            var data = new FormData();
				            data.append("file", file);
				            //ajax上传图片
				            $.ajax({
				                url: url,
				                type: "post",
				                data: data,
				                dataType: "json",
				                cache: false,
				                contentType: false,
				                processData: false,
				                success: function (response) {
				                    var jsonObj = JSON.parse(response);  // JSON.parse(); 方法
				                    var jsonObj = JSON.parse(response);  // JSON.parse(); 方法
				                    var imgNode = document.createElement('img');
				                    imgNode.setAttribute('src', jsonObj.result);
				                    $("#summernote").summernote('insertNode', imgNode);
				                },
				                error: function (response) {
				                }
				            });
				        });
				    }
			    }
		    });

	        //初始化summernote的值
		    var encodevalue = $("#Content").val();
	        //var decodevalue = htmlDecode(encodevalue);
		    $('#summernote').summernote('code', encodevalue);

	    });

        //设置表单数值
	    $("form").submit(function (e) {
	        var makrup = $("#summernote").summernote('code');

		    //var encodevalue = htmlEncode(makrup);
		    $("#Content").val(makrup);
	    });

    </script>
}