@model IEnumerable<yanzhilong.Models.ArticleModel>

@{
    ViewBag.sidebar = "文章管理";
    ViewBag.Title = "文章管理";
    PageModel pagemode = ViewBag.pagemodel as PageModel;
}


<h1 class="page-header">文章管理</h1>
@Html.ActionLink("创建新文章", "Create", "Article")
<div class="table-responsive">
    <table class="table table-striped table-manage">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Disc)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CreateAt)
                </th>

                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <td>
                        @Html.Raw(HttpUtility.HtmlDecode(item.Content)).ToHtmlString()
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Disc)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreateAt)
                    </td>

                    <td>
                        @Html.ActionLink("编辑", "Edit", "Article", new { id = item.ArticleID }, new { target = "_blank" }) |
                        @Html.ActionLink("详情", "Details", "Article", new { id = item.ArticleID, area = "" }, new { target = "_blank" }) |
                        @Html.ActionLink("删除", "Delete", "Article", new { id = item.ArticleID }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <!--  分页视图 -->
    @Html.Partial("Paging", pagemode)
</div>