@model yanzhilong.Models.CategorysViewModel
@{var headerMetadata = Model.categorys.FirstOrDefault();}

@{
    //Layout = null;
    ViewBag.Title = "文章分类";
    ViewBag.NavActive = 1;//设置导航激活
}

    <h1 class="page-header">文章分类管理</h1>
    @Html.ActionLink("创建新分类", "Create","Tutorials")
    <div class="table-responsive">
        <table class="table table-striped table-manage">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => headerMetadata.Name)
                    </th>

                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.categorys)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.ActionLink("编辑", "Edit", "Category", new { id = item.CategoryID },new { target = "_blank" }) |
                            @Html.ActionLink("详情", "Details", "Category", new { id = item.CategoryID }, new { target = "_blank" }) |
                            @Html.ActionLink("删除", "Delete", "Category", new { id = item.CategoryID }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="container">
        <!--  分页视图 -->
        @Html.Action("Index", "Paging", new { pvm = Model.pvm })
    </div>