@model yanzhilong.Models.TutorialsesViewModel
@{
    ViewBag.Title = "教程中心";
    ViewBag.NavActive = 2;//设置导航激活
}

<!-- 热门的文章 -->
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-sm-12">
            
            @foreach (var item in Model.tutorials)
            {
                <div class="blog-post">
                    <h3 class="blog-post-title">@item.Title</h3>
                    <p class="blog-post-meta">@item.CreateAt 作者:<a href="#">@Html.DisplayFor(modleItem => item.user.DisplayName)</a></p>
                    <p class="list_content">@item.Disc</p>
                    @Html.ActionLink("马上学习", "Details", new { id = item.TutorialsID }, new { @class = "btn btn-primary", role = "button" })
                </div>
                <hr class="featurette-divider">

            }
            <div class="container">
                <!--  分页视图 -->
                @Html.Action("Index", "Paging", new { pvm = Model.pvm })
            </div>
            @*<nav>
                <ul class="pager">
                    <li><a href="#">上一页</a></li>
                    <li><a href="#">下一页</a></li>
                </ul>
            </nav>*@
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/list")
    <script>


    </script>
}