@model yanzhilong.Models.UserLoginModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "登陆";
}

@using (Html.BeginForm("Login","Home", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()

        <h2 class="form-signin-heading">欢迎您！</h2>
        @Html.ValidationSummary(true, "登陆失败", new { @class = "text-danger" })

        @Html.EditorFor(model => model.UserNameOrEmailOrPhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "用户名/邮箱/手机" } })
        @Html.ValidationMessageFor(model => model.UserNameOrEmailOrPhoneNumber, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "密码"} })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.CheckBoxFor(m => m.RememberMe, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(m => m.RememberMe, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        
        <input type="submit" value="登陆" class="btn btn-lg btn-primary btn-block" />

        @Html.ActionLink("注册","Register",null,new { @class="btn btn-lg btn-primary btn-block", style = "margin-top:10px" });
        @*<input type="button" value="注册" class="btn btn-lg btn-primary btn-block" style="margin-top:10px" />*@
}