@{
    ViewBag.Title = "严志龙的网站";
    ViewBag.NavActive = 0;//设置导航激活
}

<!-- 热门的文章 -->
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    @*<div class="row">

        @foreach (var item in Model.tutorials)
            {

            <div class="col-lg-4 main_tutorials">
                <img class="img-circle" src="@(item.ImageUrl)" alt="Generic placeholder image" width="140" height="140">
                <h3 class="blog-post-title">@item.Title</h3>
                <p>@item.Disc</p>
                <p>
                    @Html.ActionLink("马上学习", "Details","Tutorials", new { id = item.TutorialsID }, new { @class = "btn btn-primary", role = "button" })
                </p>
            </div>

        }
        
    </div>*@
    <!-- /.row -->
    <!-- START THE FEATURETTES -->

    @*<hr class="featurette-divider">*@

    @{ 
        int i = 0;
    }
    @*@foreach (var item in Model.products)
    {
        <hr class="featurette-divider">
        if (i % 2 == 0)
        {
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">@Html.ActionLink(item.Name, "Details","Product", new { id = item.ProductID},null)</h2>                    
                    <p>@item.Disc</p>
                </div>
                <div class="col-md-5">

                    <a class="thumbnail loaded" href="@Url.Action("Details","Product", new { id = item.ProductID })">
                        <img class="featurette-image img-responsive center-block" src="@(item.ImageUrl)" alt="Generic placeholder image">
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading">@Html.ActionLink(item.Name, "Details", "Product", new { id = item.ProductID }, null)</h2>
                    <p>@item.Disc</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <a class="thumbnail loaded" href="@Url.Action("Details","Product", new { id = item.ProductID })">
                        <img class="featurette-image img-responsive center-block" src="@(item.ImageUrl)" alt="Generic placeholder image">
                    </a>
                </div>
            </div>
        }
        i++;
    }*@
   
</div>
@section scripts{
    @Scripts.Render("~/bundles/list")
    <script>


    </script>
}