@model yanzhilong.Models.ActicleViewModel
@{
    ViewBag.Title = "文章中心";
    ViewBag.NavActive = 1;//设置导航激活
}

<div class="container">
    <div class="row">
        <div class="col-sm-8">

            @foreach (var item in Model.articles)
            {
                <div class="blog-post">
                    <h2 class="blog-post-title">@Html.DisplayFor(modleItem => item.Title)</h2>
                    <p class="blog-post-meta">2017-02-27 17:19 作者:<a href="#">@Html.DisplayFor(modleItem => item.user.DisplayName)</a></p>

                    <p>@Html.DisplayFor(modleItem => item.Content)</p>
                    @Html.ActionLink("查看全文", "Details", new { id = item.ArticleID }, new { @class = "btn btn-lg btn-primary", role = "button" })
                    @*<a class="btn btn-lg btn-primary" href="#" role="button">@Html.ActionLink("查看全文", "Details", new { id = item.ArticleID}, new { @class = "btn btn-lg btn-primary", role = "button" }) &raquo;</a>*@
                </div>
            }
            <div class="container">
                <!--  分页视图 -->
                @Html.Action("Index", "Paging",new {pvm = Model.pvm })
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">

            <div class="sidebar-module">
                <h4>分类</h4>
                <!--  分部视图 -->
                @Html.Action("SideBar", "Category")
            </div>
        </div>
    </div>
</div>