@model yanzhilong.Models.ArticlesViewModel
@{
    ViewBag.Title = "文章中心";
    ViewBag.NavActive = 1;//设置导航激活
}

<div class="container">
    <div class="row">
        <div class="col-sm-8">

            @foreach (var item in Model.articles)
            {
                <div class="blog-post">
                    <h3 class="blog-post-title">@Html.ActionLink(item.Title, "Details", new { id = item.ArticleID }, new { @class = "", role = "button" })</h3>
                    <p class="blog-post-meta">2017-02-27 17:19 作者:<a href="#">@Html.DisplayFor(modleItem => item.user.DisplayName)</a></p>

                    <div class="list_content">
                        @Html.Raw(HttpUtility.HtmlDecode(item.Content))
                    </div>
                    @*@Html.ActionLink("查看全文", "Details", new { id = item.ArticleID }, new { @class = "btn btn-lg btn-primary", role = "button" })*@
                    @*<a class="btn btn-lg btn-primary" href="#" role="button">@Html.ActionLink("查看全文", "Details", new { id = item.ArticleID}, new { @class = "btn btn-lg btn-primary", role = "button" }) &raquo;</a>*@
                </div>
                <hr class="featurette-divider">
            }
            <div class="container">
                <!--  分页视图 -->
                @Html.Action("Index", "Paging",new {pvm = Model.pvm })
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">

            <div class="sidebar-module">
                <h4>分类</h4>
                <!--  分部视图 -->
                @Html.Action("SideBar", "Category")
            </div>
        </div>
    </div>
</div>