@model SxShoeModel

@{
    ViewBag.Title = "鞋子管理";
    ViewBag.HeaderTitle = "鞋子管理";
    ViewBag.ActiveMenuItemSystemName = "Shoe";

}

@section Head{
    <style type=text/css>
    </style>
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">过滤筛选</h3>
    </div>
    <div class="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        @Html.ValidationSummary(true, "请求参数不正确", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FilterTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.FilterNumber, new { htmlAttributes = new { @class = "form-control", id = "FilterTitle" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FilterNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.FilterNumber, new { htmlAttributes = new { @class = "form-control", id = "FilterNumber" } })
                    </div>
                </div>

            </div>
        }
    </div>
</div>

<div class="panel panel-default">
    <div id="grid"></div>

    <script>

        $(document).ready(function () {
            var ReadUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("List", "Shoe"))";
            var UpdateUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Update", "Shoe"))";
            var CreateUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Create", "Shoe"))";
            var DestroyUrl = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Action("Delete", "Shoe"))",

            dataSource = new kendo.data.DataSource({
                transport: {
                    read:  {
                        url: ReadUrl,
                        dataType: "jsonp"
                    },
                    update: {
                        url: UpdateUrl,

                        dataType: "jsonp"
                    },
                    destroy: {
                        url: DestroyUrl,
                        type: "post",
                        dataType: "jsonp"
                    },
                    create: {
                        url: CreateUrl,
                        type: "post",
                        dataType: "jsonp"
                    },
                    parameterMap: function (options, operation) {

                        //传过滤的models到后台
                        if (operation == "read") {
                            return { models: kendo.stringify(FilterModels()) };
                        }

                        if (operation !== "read" && options.models) {
                            return {models: kendo.stringify(options.models)};
                        }
                    }
                },
                batch: true,
                pageSize: 20,
                schema: {
                    errors: "Errors",//指定错误字段
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: true },
                            MainImage: { editable: false, nullable: true },
                            Title: { editable: false, validation: { required: true } },
                            Url: { editable: false,validation: { required: true }},
                            Price: { editable: false,validation: { required: true }},
                            Popularity: { editable: false,validation: { required: true }},
                            UpdateStr: { editable: false,validation: { required: true }},
                            Sort: { editable: false, validation: { required: true } },
                            Number: { editable: false, validation: { required: true } },
                            Cid: { validation: { required: true } }
                        }
                    }
                },
                //指定错误处理方法
                error: function (e) {
                    display_kendoui_grid_error(e);//显示错误
                    this.cancelChanges();//取消修改
                }
            });
            dataSource.bind("error", dataSource_error);

            function dataSource_error(e) {
                var responsejson = e.xhr.responseText;
                alert(e.status);
            }

            $("#grid").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "MainImage",
                        title: "预览图片",
                        width: 100,
                        template: "<div class='customer-photo'" +
                        "style='background-image: url(#:data.MainImage#);'></div>"
                    },
                    {field: "Title", title: "标题"},
                    { field: "Url", title: "网址", editable: false, template: "<a href=\"#:data.Url#\" target=\"__blank\">#:data.Url#</a>"},
                    { field: "Price", title: "价格" },
                    { field: "Popularity", title: "人气" },
                    { field: "UpdateStr", title: "更新" },
                    { field: "Sort", title: "更新排序" },
                    { field: "Number", title: "商家编码" },
                    { command: ["edit","destroy"], title: "&nbsp;", width: "280px" }],
                editable: "popup"
            });

            
            //得到过滤的Models
            function FilterModels() {
                var array = new Array()
                filter = new Object();
                filter.FilterTitle = $("#FilterTitle").val();
                filter.FilterNumber = $("#FilterNumber").val();
                array[0] = filter;
                filterModels = array;
                return filterModels;
            }

            //设置筛选事件
            $('#FilterTitle').bind('input propertychange', function () { Filter()});
            $('#FilterNumber').bind('input propertychange', function () { Filter()});

            function Filter() {
                $('#grid').data('kendoGrid').dataSource.read();
                $('#grid').data('kendoGrid').refresh();
            }

        });

    </script>
</div>

<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-size: 80px 80px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }
</style>

